.CodeRainBox{
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left:0;
    font-size: 32px;
    font-family: "Microsoft YaHei";
    background: #000;
    line-height: 32px;
    color: rgba(255,255,255,0.02);
    text-shadow: 0 0 10px #fff;
    word-break: break-all;
    overflow: hidden;
}